header{
  background-color: #00cf4f;
  border-bottom: 1px solid #c9ebce;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px;
}

.logo-container {
  font-weight: bold;
  font-size: 1.2em;
}

.controls-container {
  display: flex;
  gap: 10px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
}